
<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box">
      <div class="field">
         <h1 class="title is-4 has-text-weight-bold">
          Veuillez sélectionner le type du compte que vous souhaitez créer
        </h1>
      </div>
      <div class="field">
        <button
          class="button nurseryPink"
          v-on:click="GoToInscriptionParent()"
          style="width: 300px; height: 50px"
        >
          S'inscrire en tant que parent
        </button>
      </div>
      <div class="field">
        <button
          class="button nurseryPink"
          v-on:click="GoToInscriptionEducatrice()"
          style="width: 300px; height: 50px"
        >
          S'inscrire en tant qu'éducatrice
        </button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "ChoixTypeUtilisateur",
  data() {
    return {
      user_id: Number,
    };
  },
  mounted() {
    this.user_id = this.$route.params.user_id;
  },
  methods: {
    GoToInscriptionParent() {
      this.$router.push({
        name: "InscriptionParent",
        params: { user_id: this.user_id },
      });
    },
    GoToInscriptionEducatrice() {
      this.$router.push({
        name: "InscriptionEducatrice",
        params: { user_id: this.user_id },
      });
    },
  },
};
</script>
