<template>
<div>
  <h4 class="title is-4"> Creation du Dossier Medicale</h4>

  <div class="field">
    <label class="label">Description</label>
    <div class="control has-icons-left">
      <input class="input" type="text"  placeholder="Description de l'enfant" v-model="description">
      <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Médicament</label>
    <div class="control">
      <input class="input" type="text"
      placeholder="Médicament de l'enfant" v-model="medicament">
    </div>
  </div>
  <div class="field">
    <label class="label">Allergie</label>
    <div class="control">
      <input class="input" type="text"
      placeholder="Allergie de l'enfant" v-model="allergie">
    </div>
  </div>
   <button
     class="button is-medium  is-info "
   @click="creer(description,medicament,allergie)">Creer Dossier Medicale</button>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'creationDossierMedicale',
  data() {
    return {
      description: "",
      medicament: "",
      allergie: "",
    };
  },
  props: {
    idEnfant: {
      type: Number,
      required: true,
    },
  },
  methods: {
    async creer(description,medicament,allergie) {
      await axios.post(`http://localhost:8000/api/enfant/bilan/create/${this.idEnfant}?allergie=${allergie}&medicament=${medicament}&description=${description}`);
      this.$router.push({ name: 'ListeEnfants' });
    },
  },
};
</script>
<style lang="scss"> </style>
