
<template>
   <div>
       
        <div class="col-12 form-group">
             <strong>Création d'un rapport pour enfant</strong>
        
             </div>
             <div>
                 <label>Titre du rapport</label>
                 <input
                class="input is-normal"
                 v-model="titreRapport"
                  type="text"
                  placeholder="Titre du Rapport"
              />
             </div>
            <div>
                <label>Detaille du rapport</label>
                <textarea class="textarea" v-model="detailleRapport" placeholder="e.g. Detaille du rapport"></textarea>
            </div>
             

            
             <div>
                 <router-link :to="{ name: '' }" class="navbar-item">
                 <button class="button is-primary">Envoyer Rapport</button>
                 </router-link>
         </div>
        
            
    </div>
</template>

<script>
export default {
  name: "CreationRapport",
  data() {
    return {
      titreRapport: "",
      detailleRapport: "",
    };
  }
};
</script>