
<template>
   <div>
       
        <div class="col-12 form-group">
             <strong>Dossier Médicale de l'enfant</strong>

             <div class="field">
                 <label>Prénom</label>                 
              </div>
              <div class="field">
                 <label>Nom</label>
              </div>
              <div class="field">
                 <label>Age</label>
              </div>
              <div class="field">
                 <label>Allergie</label>
              </div>
              <div class="field">
                 <label>Numero d'urgence</label>
              </div>
      </div>
        
   
    </div>

   
</template>


<script>
export default {
  name: "DossierMedicaleEducatrice",
  data() {
    return {
      prenom: "",
      nom: "",
      NumeroUrgence:"",
      allergie:"",
      age:"",
    };
  }
};
</script>