<template>
<div>
  <h4 class="title is-4"> Consultation et Modification du Dossier Medicale</h4>
  <div class="field">
    <label class="label">Description</label>
    <div class="control has-icons-left">
      <input class="input" type="text"  placeholder="Description de l'enfant" v-model="bilanSante[0].description">
      <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Médicament</label>
    <div class="control">
      <input class="input" type="text"
      placeholder="Médicament de l'enfant" v-model="bilanSante[0].medicament">
    </div>
  </div>
  <div class="field">
    <label class="label">Allergie</label>
    <div class="control">
      <input class="input" type="text"
      placeholder="Allergie de l'enfant" v-model="bilanSante[0].allergie">
    </div>
  </div>
   <button
     class="button is-medium  is-info "
   @click="retour()">Retour</button>
</div>
</template>


<script>
import axios from 'axios';

export default {
  name: 'DossierMedicale',
  props: {
    idBilanSante: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      bilanSante: [],
    };
  },
  async created() {
    this.bilanSante = (await axios.get(`http://localhost:8000/api/enfant/obtenirBilan/${this.idBilanSante}`)).data;
  },
  methods: {
    async retour() {
    await axios.put(`http://localhost:8000/api/updateBilan/${this.idBilanSante}?medicament=${this.bilanSante[0].medicament}&allergie=${this.bilanSante[0].allergie}&description=${this.bilanSante[0].description}`);
      this.$router.push({ name: 'ListeEnfants' });
    },
  },
};
</script>
<style lang="scss"> </style>
<style lang="scss"> </style>
