
<template>
   <div>
       
        <div class="col-12 form-group">
             <strong>Dossier Médicale de l'enfant</strong>

             <div class="field">
                 <label>Prénom</label>
                 <input
                class="input is-normal"
                 v-model="prenom"
                  type="text"
                  placeholder="Prénom de l'enfant"
              />
              </div>
              <div class="field">
                 <label>Nom</label>
                 <input
                class="input is-normal"
                 v-model="Nom"
                  type="text"
                  placeholder="Nom de l'enfant"
              />
              </div>
              <div class="field">
                 <label>Age</label>
                 <input
                class="input is-normal"
                 v-model="age"
                  type="text"
                  placeholder="Age de l'enfant"
              />
              </div>
              <div class="field">
                 <label>Allergie</label>
                 <input
                class="input is-normal"
                 v-model="allergie"
                  type="text"
                  placeholder="Allergie de l'enfant"
              />
              </div>
              <div class="field">
                 <label>Numero d'urgence</label>
                 <input
                class="input is-normal"
                 v-model="NumeroUrgence"
                  type="text"
                  placeholder="Numero d'urgence de l'enfant"
              />
              </div>
      </div>
        
   
    </div>

   
</template>


<script>
export default {
  name: "DossierMedicaleParent",
  data() {
    return {
      prenom: "",
      nom: "",
      NumeroUrgence:"",
      allergie:"",
      age:"",
    };
  }
};
</script>