<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box">
      <h1 class="title is-4 column is-two-thirds has-text-weight-bold">
        Inscription
      </h1>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="prenom"
            type="text"
            placeholder="Prénom du parent"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="user" />
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="nom"
            type="text"
            placeholder="Nom du parent"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="user" />
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="adresse"
            type="text"
            placeholder="Adresse du parent"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="map-marker-alt" />
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="telephone"
            type="text"
            placeholder="Numéro de téléphone du parent"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="phone" />
          </span>
        </div>
      </div>

      <div class="field">
        <div class="select">
          <select v-model="selected">
            <option></option>
            <option
              v-for="garderie in toutesLesGarderies"
              :key="garderie.id"
              v-bind:value="{ id: garderie.id }"
            >
              {{ garderie.nom }}
            </option>
          </select>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button
            class="button nurseryBlue"
            @click.prevent="creerCompteParent()"
          >
            S'inscrire
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
const axios = require("axios");
const apiUrl = "http://127.0.0.1:8000/api/";
export default {
  name: "InscriptionParent",

  data: function() {
    return {
      selected: "",
      prenom: "",
      nom: "",
      adresse: "",
      telephone: "",
      garderie_id: Number,
      user_id: Number,
    };
  },
  mounted() {
    this.user_id = this.$route.params.user_id;
    this.getToutesLesGarderies();
  },
  methods: {
    creerCompteParent() {
      const idRoleParent = 2;
      axios
        .post(
          `${apiUrl}parent/create?prenom=${this.prenom}&nom=${this.nom}&adresse=${this.adresse}&telephone=${this.telephone}&idGarderie=${this.selected.id}&id_user=${this.user_id}`
        )
        .then(
          axios
            .put(
              `${apiUrl}updateIdRole/${this.user_id}?id_role=${idRoleParent}`
            )
            .then(this.$router.push("LoginParent"))
          /*.then(
              this.$store.dispatch("users/editUserRole", {
                idUser: this.user_id,
                idRole: idRoleParent, //faire requête qui va dynamiquement chercher le idRole du role qui s'appelle "parent"
              })
            .catch((error) => console.log(error))*/
        );
    },
    getToutesLesGarderies() {
      this.$store.dispatch("garderies/getAllGarderies");
    },
  },
  computed: {
    toutesLesGarderies() {
      return this.$store.state.garderies.toutesLesGarderies;
    },
  },
};
</script>
