<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box">
      <strong class="title is-4 column is-one-fifth has-text-weight-bold"
        >Inscription</strong
      >

      <div class="field">
        <input
          class="input is-normal"
          v-model="prenom"
          type="text"
          placeholder="Prénom"
        />
      </div>
      <div class="field">
        <input
          class="input is-normal"
          v-model="nom"
          type="text"
          placeholder="Nom"
        />
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <input class="input is-normal" type="text" placeholder="Adresse" />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="map-marker-alt" />
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="telephone"
            type="text"
            placeholder="Numéro de téléphone"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="phone" />
          </span>
        </div>
      </div>
      <div class="field">
        <div class="select is-normal">
          <select v-model="selected" @click="getTousLesGroupes()">
            <option></option>
            <option
              v-for="garderie in toutesLesGarderies"
              :key="garderie.id"
              v-bind:value="{ id: garderie.id }"
            >
              {{ garderie.nom }}
            </option>
          </select>
        </div>
      </div>
      <div class="field">
        <div class="select is-normal">
          <select v-model="selectedGroupes">
            <option></option>
            <option
              v-for="groupe in groupesDeLaGarderieChoisie"
              :key="groupe.id"
              v-bind:value="{ id: groupe.id }"
            >
              {{ groupe.numero }}
            </option>
          </select>
        </div>
      </div>

      <div class="control">
        <button class="button nurseryBlue" @click.prevent="CreerEducatrice()">
          S'inscrire
        </button>
      </div>
    </form>
  </div>
</template>
<script>
const axios = require("axios");
const apiUrl = "http://127.0.0.1:8000/api/";
export default {
  name: "InscriptionEducatrice",
  data() {
    return {
      selectedGroupes: "",
      selected: "",
      prenom: "",
      nom: "",
      telephone: "",
      id_garderie: Number,
      id_groupe: Number,
      id_user: Number,
    };
  },
  mounted() {
    this.id_user = this.$route.params.user_id;
    this.$store.dispatch("garderies/getAllGarderies");
  },
  methods: {
    CreerEducatrice() {
      const idRoleEducatrice = 3;
      axios
        .post(
          `${apiUrl}educatrice/create?nom=${this.nom}&prenom=${this.prenom}&id_garderie=${this.selected.id}&id_groupe=${this.selectedGroupes.id}&id_user=${this.id_user}`
        )
        .then(
          axios
            .put(
              `${apiUrl}updateIdRole/${this.id_user}?id_role=${idRoleEducatrice}`
            )
            .then(this.$router.push("LoginEducatrice"))
            .catch((error) => console.log(error))
        )
        .catch((error) => console.log(error));
    },
    getTousLesGroupes() {
      this.$store.dispatch("groupes/getGroupesParIdGarderie", this.selected.id);
    },
  },
  computed: {
    toutesLesGarderies() {
      return this.$store.state.garderies.toutesLesGarderies;
    },
    groupesDeLaGarderieChoisie() {
      return this.$store.state.groupes.groupesDeLaGarderie;
    },
  },
};
</script>
