<template>
  <div class="container size" >
    <div class="columns is-mobile">
      <div class="column"><h1 class="title is-1">NuseryLand</h1></div>
    </div>
    <div class="columns is-mobile">
      <div class="column"><img src="../assets/logoprojectgarderie.png" /></div>
    </div>
     <div class="columns is-mobile">
      <div class="column"></div>
    </div>
    <div class="columns is-mobile margin">
      <div class="column margin">  <button class="button is-small is-fullwidth">Se connecter  ></button>
</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "NurseryLand",
    };
  },
};
</script>

<style>
.size{
width:400px;
height:734px ;
background-color:#6C84AA;
}
.margin{
  margin-top:120px ;
}



</style>