/* eslint-disable no-tabs */
<template>
  <div>
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date de Naissance</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>
            <input
              type="text"
              v-model="nouveauNom"
              id="nouveauNom"
              class="input is-rounded is-success"
              placeholder="Nom de l'enfant"
            />
          </td>
          <td>
            <input
              v-model="nouveauPrenom"
              type="text"
              id="nouveauPrenom"
              class="input is-rounded is-success"
              placeholder="Prenom de l'enfant"
            />
          </td>
          <td>
            <input
              type="text"
              v-model="nouveauDate"
              id="nouveauDate"
              class="input is-rounded is-success"
              placeholder="Date de naissance de l'enfant"
            />
          </td>
          <td>
            <button
              type="submit"
              class="button is-success is-light is-rounded"
              v-on:click="ajouter(nouveauNom, nouveauPrenom, nouveauDate)"
            >
              Ajouter un Enfant
            </button>
          </td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        <tr v-for="enfant in enfants" :key="enfant.nom">
          <td>{{ enfant.nom }}</td>
          <td>{{ enfant.prenom }}</td>
          <td>{{ enfant.dateDeNaissance }}</td>
          <td>
            <button
              class="button is-danger is-light is-rounded is-hovered"
              v-on:click="supprimer(enfant.id)"
            >
              Supprimer
            </button>
          </td>
          <td>
            <button
              class="button is-info is-light is-rounded"
              v-on:click="Dossier(enfant.idBilanSante)"
            >
              Dossier Medicale
            </button>
          </td>
          <td>
            <div v-if="enfant.idBilanSante == null">
            <button
              class="button is-info is-light is-rounded"
              v-on:click="AjouterDossier(enfant.id)"
            >
              Ajouter Dossier Medicale
            </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
// import db from '../db.json';

export default {
  name: "Home",
  data() {
    return {
      enfants: [],
      nouveauNom: "",
      nouveauPrenom: "",
      nouveauDate: "",
      parent: [],
    };
  },
  computed: {
    user() {
      return this.$store.state.authentification.currentUser;
    },
  },
  async mounted() {
    var user = this.$store.state.authentification.currentUser;

    axios
      .get(`http://localhost:8000/api/currentParent/${user.id}`)
      .then((response) => {
        this.parent = response.data;
        axios
          .get(`http://localhost:8000/api/enfantsByParent/${this.parent[0].id}`)
          .then((response) => {
            this.enfants = response.data;
          });
      });
  },
  methods: {
    async ajouter(nouveauNom, nouveauPrenom, nouveauDate) {
      const enfants = await (
        await axios.get(
          `http://localhost:8000/api/enfantsByParent/${this.parent[0].id}`
        )
      ).data;
      let nouvelleEnfant = {};
      if (enfants.length !== 0) {
        const dernierePersonne = enfants.slice(-1)[0];
        nouvelleEnfant = {
          id: dernierePersonne.id + 1,
          nom: nouveauNom,
          prenom: nouveauPrenom,
          dateDeNaissance: nouveauDate,
        };
      } else {
        nouvelleEnfant = {
          id: 1,
          nom: nouveauNom,
          prenom: nouveauPrenom,
          dateDeNaissance: nouveauDate,
        };
      }

      await axios.post(
        `http://localhost:8000/api/ajouter/enfants/${this.parent[0].id}?nom=${nouvelleEnfant.nom}&prenom=${nouvelleEnfant.prenom}&dateDeNaissance=${nouvelleEnfant.dateDeNaissance}`
      ); // changer le requete
      this.refreshData();
      this.nouveauNom = "";
      this.nouveauPrenom = "";
      this.nouveauDate = "";
    },
    async supprimer(id) {
      await axios.delete(`http://localhost:8000/api/deleteEnfant/${id}`);
      this.refreshData();
    },
    async Dossier(id) {
      this.$router.push({ name: 'DossierMedicale', params: { idBilanSante: id } });
    },
    async AjouterDossier(id) {
     this.$router.push({ name: 'CreationDossierMedicale', params: { idEnfant: id } });
    },
    async refreshData() {
      axios
          .get(`http://localhost:8000/api/enfantsByParent/${this.parent[0].id}`)
          .then((response) => {
            this.enfants = response.data;
          });
    },
  },
};
</script>

<style lang="scss" scoped></style>
