
<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box">
      <div class="field">
        <h1 class="title is-4 has-text-weight-bold">
          Veuillez sélectionner le type du compte auquel vous souhaitez accéder
        </h1>
      </div>

      <div class="field">
        <button
          class="button nurseryBlue"
          style="width: 100px"
          @click.prevent="goToLoginParent()"
        >
          Parent
        </button>
      </div>
      <div class="field">
        <button
          class="button nurseryBlue"
          style="width: 100px"
          @click.prevent="goToLoginEducatrice()"
        >
          Éducatrice
        </button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "Login",
  methods: {
    goToLoginParent() {
      this.$router.push("LoginParent");
    },
    goToLoginEducatrice() {
      this.$router.push("LoginEducatrice");
    },
  },
};
</script>