<template>
  <div>
    <div class="columns is-centered" style="padding-top: 45px">
      <form class="box">
        <h1 class="title is-4 column is-one-fifth has-text-weight-bold">
          Bonjour
        </h1>
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="email"
              type="email"
              placeholder="Courriel"
            />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="envelope" />
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="password"
              type="password"
              placeholder="Mot de passe"
            />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="lock" />
            </span>
          </div>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox" v-model="remember_me" />
            Se souvenir de moi
          </label>
        </div>
        <div class="field">
          <button class="button nurseryBlue" @click.prevent="loginParent()">
            Submit
          </button>
        </div>
        <div class="field">
          <p>
            Vous ne possédez pas déjà un compte?
            <router-link :to="{ name: 'ChoixTypeUtilisateur' }"
              >Inscrivez-vous</router-link
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
const axios = require("axios");
const apiUrl = "http://127.0.0.1:8000/api/";
export default {
  name: "LoginParent",
  data() {
    return {
      email: "",
      password: "",
      remember_me: false,
      access_token: "",
    };
  },
  methods: {
    loginParent() {
      axios({
        method: "post",
        url: `${apiUrl}auth/login`,
        headers: {},
        data: {
          email: this.email,
          password: this.password,
          remember_me: this.remember_me,
        },
      })
        .then((response) => {
          const token = response.data.access_token;
          this.access_token = token;
          axios({
            method: "get",
            url: `${apiUrl}auth/user`,
            headers: {
              Authorization: `Bearer ${token}`,
            },
            data: {},
          })
            .then((response) => {
              this.$store.dispatch("authentification/changeCurrentUser", {
                newUser: response.data,
                token: this.access_token,
              });
              this.$router.push("SuccessfullyLoggedIn");
            })
            .catch((error) => console.log(error));
        })
        .catch((error) => {
          console.log(error);
          alert("Les informations entrées ne sont pas bonnes");
        });
    },
  },
};
</script>
