<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box" style="width: 1300px">
      <p class="column is-two-fifths">
        Éducateur/Éducatrice: {{ educateur.prenom }} {{ educateur.nom }}
      </p>
      <p class="title is-2" style="padding: 20px">Groupe {{ groupe.numero }}</p>
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td>
              Présence
            </td>
            <td>
              Code unique
            </td>
            <td>
              Nom
            </td>
            <td>
              Prénom
            </td>
            <td>
              Date de naissance
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="enfant in enfants" v-bind:key="enfant.id">
            <td
              v-if="enfant.presence == 1"
              @click="changerPresence(enfant.id, 2)"
            >
              <font-awesome-icon icon="thumbs-up" style="color: green" />
            </td>
            <td
              v-if="enfant.presence == 2"
              @click="changerPresence(enfant.id, 1)"
            >
              <font-awesome-icon icon="thumbs-up" style="color: red" />
            </td>
            <td>
              {{ enfant.codeUnique }}
            </td>
            <td>
              {{ enfant.nom }}
            </td>
            <td>
              {{ enfant.prenom }}
            </td>
            <td>
              {{ enfant.dateDeNaissance }}
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</template>

<script>
export default {
  name: "MonGroupe",
  data() {
    return {
      enfants: [],
      groupe: {},
      educateur: {},
    };
  },
  computed: {},
  mounted() {
    this.getEnfantsDuGroupe();
    this.getGroupe();
  },
  methods: {
    getEnfantsDuGroupe() {
      const user = this.$store.state.authentification.currentUser;
      this.$store.dispatch("educatrices/getEducatriceParIdUser", user.id);
      const educatrice = this.$store.state.educatrices.currentEducatrice[0];
      this.educateur = educatrice;
      this.$store.dispatch(
        "groupes/getEnfantsParIdGroupe",
        educatrice.id_groupe
      );
      this.enfants = this.$store.state.groupes.enfantsDuGroupe;
    },
    getGroupe() {
      const tousLesGroupes = this.$store.state.groupes.groupesDeLaGarderie;
      const groupe = tousLesGroupes.find(
        (groupe) =>
          (groupe.id = this.$store.state.educatrices.currentEducatrice[0].id_groupe)
      );
      this.groupe = groupe;
    },
    changerPresence(id, p) {
      this.$store.dispatch("enfants/updatePresenceEnfant", {
        idEnfant: id,
        presence: p,
      });
      this.getEnfantsDuGroupe();
    },
  },
};
</script>

<style></style>
