<template>
  <nav
    class="navbar navbar-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <img src="../assets/NusreryLandLogo.png" />

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div v-if="user != null" class="navbar-item">
          <a class="navbar-item"> Messages </a>
        </div>
        <div v-if="user != null" class="navbar-item">
          <div v-if="user.id_role == 3">
            <router-link class="navbar-item" :to="'MonGroupe'"
              >Mon groupe</router-link
            >
          </div>
        </div>
        <div v-if="user != null" class="navbar-item">
          <div v-if="user.id_role == 2">
            <router-link class="navbar-item" :to="'ListeEnfants'">
              Mes enfants</router-link
            >
          </div>
        </div>
        <div v-if="user != null" class="navbar-item">
          <a v-if="user.id_role == 2" class="navbar-item"> Comptes-rendus </a>
        </div>
      </div>

      <div class="navbar-end">
        <div v-if="user != null" class="navbar-item">
          <div class="box">
            <p>Connecté en tant que {{ user.email }}</p>
          </div>
        </div>
        <div v-if="user == null" class="navbar-item">
          <router-link :to="{ name: 'Login' }">
            <a class="button is-light">
              <strong>Login</strong>
            </a>
          </router-link>
        </div>
        <div v-if="user == null" class="navbar-item">
          <router-link :to="{ name: 'SignUp' }">
            <a class="button is-light nurseryPink">
              <strong>Sign Up</strong>
            </a>
          </router-link>
        </div>
        <div v-if="user != null" class="navbar-item">
          <a class="button nurseryBlue" v-on:click="logout()">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "navigation",
  data() {
    return {
      userIsAuthenticated: null,
      userRole: Number,
    };
  },
  computed: {
    user() {
      return this.$store.state.authentification.currentUser;
    },
  },
  methods: {
    logout() {
      const token = this.$store.state.authentification.currentUserAccessToken;
      this.$store.dispatch("authentification/logoutCurrentUser", token);
      this.$router.push("/");
    },
  },
};
</script>

<style lang="bulma.css" scoped></style>
