<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box">
      <h1 class="title is-4 column is-one-fifth has-text-weight-bold">
        Inscription
      </h1>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="email"
            autocomplete="off"
            type="email"
            placeholder="Courriel"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="envelope" />
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="password"
            autocomplete="off"
            type="password"
            placeholder="Mot de passe"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="lock" />
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input is-normal"
            v-model="password_confirmation"
            autocomplete="off"
            type="password"
            placeholder="Confirmation du mot de passe"
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="lock" />
          </span>
        </div>
      </div>

      <div class="field">
        <button class="button nurseryBlue" @click.prevent="signUp()">
          S'inscrire
        </button>
      </div>
      <div class="field">
        <p>
          Vous avez déjà un compte?
          <router-link :to="{ name: 'Login' }">Connectez-vous</router-link>
        </p>
      </div>
    </form>
  </div>
</template>
<script>
const axios = require("axios");
const apiUrl = "http://127.0.0.1:8000/api/";
export default {
  name: "SignUp",
  data() {
    return {
      email: "",
      password: "",
      password_confirmation: "",
      user_id: Number,
    };
  },
  methods: {
    signUp() {
      axios
        .post(
          `${apiUrl}auth/signup?email=${this.email}&password=${this.password}&password_confirmation=${this.password_confirmation}`
        )
        .then((response) => {
          this.user_id = Number(response.data.id);
          this.$router.push({
            name: "ChoixTypeUtilisateur",
            params: { user_id: this.user_id },
          });
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>
<style lang="bulma.css" scoped>
</style>
