<template>
  <div class="columns is-centered" style="padding-top: 45px">
    <form class="box">
      <p class="title is-3">Vous êtes maintenant connecté</p>
    </form>
  </div>
</template>
<script>
export default {
  name: "SuccessfullyLoggedIn",
};
</script>
